
<button mat-button [matMenuTriggerFor]="menu">Example Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/autocomplete']"> Autocomplete Example</button>
  <button mat-menu-item [routerLink]="['/checkboxexample']">Check Box Example</button>
  <button mat-menu-item [routerLink]="['/datepickerexample']">Date Picker  Example</button>
  <button mat-menu-item [routerLink]="['/fromfieldexample']">Form Field  Example</button>
  <button mat-menu-item [routerLink]="['/layoutexample']">Layout   Example</button>
  <button mat-menu-item [routerLink]="['/treeexample']">Tree   Example</button>
  <button mat-menu-item [routerLink]="['/buttonandindicatorsexample']">Button and Indicators Example</button>
</mat-menu>

<div> </div>